section {
  background-image: url("../../../../assets/game/main_bg.svg");
  ackground-repeat: no-repeat;
  background-size: cover;

  .timer {
    padding: 10px 30px;
    background: white;
    border-radius: 25px;
    font-size: 1.4em;
    font-weight: bolder;
    color: var(--ion-color-success);
  }
  .title {
    font-size: 1.2em;
    font-weight: bolder;
    color: var(--ion-color-light);
  }
}
