<ion-content class="ion-padding">
    <section class="full-height">
        <div class="top-section">
            <img width="100" src="assets/icon/logo.png">
        </div>
        <br>
        <div class="input-section">
            <h3 class="inout-text">
                Enter OTP (36s)
            </h3>
            <br>
            <div class="mobile-input">
                <input placeholder="Mobile No." type="tel">
                <img src="assets/auth/phone.png">
            </div>
            <br><br>
            <div class="custom-button" #verifyBtn>
                <ion-button (click)="verifyOtp()" [expand]="'block'" [color]="'primary'">Verify OTP</ion-button>
            </div>
        </div>
        <div class="bottom-section ion-text-center" #resentMessage>
            <div>
                <ion-text class="signup-text">
                    Don't receive OTP?
                    <ion-text (click)="resendOTP()">Request again</ion-text>
                </ion-text>
            </div>
        </div>
    </section>
</ion-content>
