<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary" [defaultHref]="defaultHref"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <section class="full-height">
        <div class="top-section vertical-align">
            <img width="100" src="assets/icon/logo.svg">
        </div>
        <div class="input-section ion-text-center">
            <h3 *ngIf="checkbox && !checkbox.checked" class="inout-text white_text">SIGN UP</h3>
            <div class="mobile-input ion-margin-top">
                <input placeholder="Mobile No." type="tel">
                <img #mobileIcon width="15" src="assets/auth/phone.png">
            </div>
            <div class="mobile-input ion-margin-top">
                <input placeholder="Enter name" type="tel">
                <img #userIcon width="20" src="assets/auth/user.png">
            </div>
            <div *ngIf="checkbox && checkbox.checked" class="mobile-input ion-margin-top">
                <input placeholder="Enter Referral Code" type="tel">
                <img width="20" src="assets/auth/gift.png">
            </div>
            <div class="ion-margin-top ion-margin-start">
                <ion-checkbox #checkbox></ion-checkbox>
                <ion-text class="checkbox-text ion-margin-start white_text">Have a referral code..?</ion-text>
            </div>
            <br>
            <div class="vertical-align button_div" #signupBtn>
                <ion-button shape="round" [routerLink]="'/auth/otp'" [expand]="'block'" [color]="'primary'">Sign Up</ion-button>
            </div>
        </div>
        <div class="bottom-section ion-text-center">
            <div class="custom-button">
                <ion-button class="facebook ion-margin-top white_text" [routerLink]="'/auth'">
                    <!--<ion-icon class="ion-margin-end" name="logo-facebook"></ion-icon>-->
                    <img src="assets/auth/facebook.png" alt="">
                    Login with Facebook
                </ion-button>
                <br><br>
                <ion-text class="signup-text primary_color_text">
                    Don't have an account?
                    <ion-text [routerLink]="'/auth/signup'">SIGN UP</ion-text>
                </ion-text>
            </div>
        </div>
    </section>
</ion-content>
