<ion-content>
    <div class="header-card">
        <ion-grid class="ion-padding ion-no-margin">
            <ion-row>
                <ion-col size="12" class="vertical-align ion-text-center">
                    <ion-text class="ion-text-uppercase ion-padding-start">
                        <strong>My Wallet</strong>
                    </ion-text>
                </ion-col>
                <ion-col offset="4" size="4">
                    <img src="assets/wallet/wallet_big.svg" alt="">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="content">
     <div class="cards_div">
         <ion-grid>
             <ion-row>
                 <ion-col [offset]="'1'" [size]="'5'">
                     <ion-card class="ion-no-margin" [routerLink]="'/payment/kyc'">
                         <ion-card-content>
                             <ion-row>
                                 <ion-col class="ion-text-center">
                                     <img width="25" src="assets/wallet/arrow.svg" alt=""><br>
                                     <ion-text class="sub-title white_text">Withdraw</ion-text>
                                 </ion-col>
                             </ion-row>
                         </ion-card-content>
                     </ion-card>
                 </ion-col>
                 <ion-col [size]="'5'">
                     <ion-card class="ion-no-margin" [routerLink]="'/payment/passbook'">
                         <ion-card-content>
                             <ion-row>
                                 <ion-col class="ion-text-center">
                                     <img width="25" src="assets/wallet/apple.svg" alt=""><br>
                                     <ion-text class="sub-title white_text">Passbook</ion-text>
                                 </ion-col>
                             </ion-row>
                         </ion-card-content>
                     </ion-card>
                 </ion-col>
             </ion-row>
         </ion-grid>
     </div>
        <div style="margin-top: -3rem">
            <ion-grid>
                <ion-row>
                    <ion-col size="12">
                        <ion-card class="white_card">
                            <ion-row>
                                <ion-col size="2.5">
                                    <img src="assets/wallet/points.svg" alt="">
                                </ion-col>
                                <ion-col size="6.5" class="vertical-align ion-justify-content-start">
                                    <ion-title color="dark">Total Points</ion-title>
                                </ion-col>
                                <ion-col size="3" class="vertical-align">
                                    <ion-title>&#8377; 500/-</ion-title>
                                </ion-col>
                            </ion-row>
                        </ion-card>
                    </ion-col>
                    <ion-col size="12">
                        <ion-card class="white_card">
                            <ion-row>
                                <ion-col size="2.5">
                                    <img src="assets/wallet/points.svg" alt="">
                                </ion-col>
                                <ion-col size="6.5" class="vertical-align ion-justify-content-start">
                                    <ion-title color="dark">Earned Points</ion-title>
                                </ion-col>
                                <ion-col size="3" class="vertical-align">
                                    <ion-title>&#8377; 200/-</ion-title>
                                </ion-col>
                            </ion-row>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="ion-margin-top ion-text-center custom-button">
            <ion-button class="ion-margin-top" [routerLink]="'/payment/add-money'">
                Add Money
                <ion-icon class="ion-margin-start" name="arrow-forward-outline"></ion-icon>
            </ion-button>
        </div>

    </div>
</ion-content>
