
ion-content {
  --background: url('../../../assets/new_assets/bg_opponent.svg') 50%;

  .header-card {
    height: 35%;
    background-color: var(--ion-dark-background-color);
    color: var(--ion-color-light);
    div {
      height: 100%;
      //background: rgba(255, 255, 255, 0.9);
    }
  }

  .content {

    position: relative;
    top: -25px;
    border-top-left-radius: 25px;
    background: url('../../../assets/new_assets/bg_opponent.svg') 50%;

    .available, .balance {
      font-size: 1.3em;
      color: #292929;
      font-weight: bolder;
    }

    .balance {
      font-size: 2em;
      border-bottom: 3px solid var(--ion-color-primary);
    }

    ion-card {
      --background: #575757;
      border-radius: 12px;
      box-shadow: none;
      .sub-title {
        font-size: 1.0em;
        font-weight: bolder;
        @media (max-width: 320px) {
          font-size: 0.8em;
        }
      }
    }
  }
  .cards_div {
    position: relative;
    top: -45px;
    @media (max-width: 320px) {
      top: -36px;
    }
  }
  .white_card {
    background-color: white !important;
    border-radius: 1rem;
    ion-title {
      font-size: medium;
    }
  }
}
