<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary" defaultHref="home/wallet"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="header-card">
        <ion-grid class="ion-padding ion-no-margin">
            <ion-row>
                <ion-col size="12" class="vertical-align ion-text-center">
                    <ion-text class="ion-text-uppercase ion-padding-start">
                        <strong>Add Money</strong>
                    </ion-text>
                </ion-col>
                <ion-col offset="4" size="4">
                    <img src="assets/wallet/new_coins.svg" alt="">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="content">
        <ion-grid class="select-amount ion-no-padding">
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-card (click)="addAmount.value = 50">
                        <ion-card-content>
                            <ion-text class="sub-title">&#8377; 50</ion-text>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col class="ion-text-center">
                    <ion-card (click)="addAmount.value = 100">
                        <ion-card-content>
                            <ion-text class="sub-title">&#8377; 100</ion-text>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col class="ion-text-center">
                    <ion-card (click)="addAmount.value = 300">
                        <ion-card-content>
                            <ion-text class="sub-title">&#8377; 300</ion-text>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
        <br><br>
        <div class="ion-text-center ion-padding">
            <ion-text class="balance white_text">
                &#8377; <input #addAmount type="tel" placeholder="250">
            </ion-text>
            <div *ngIf="checkbox && checkbox.checked" class="mobile-input ion-margin-top ion-padding">
                <input placeholder="Enter Referral Code" type="tel">
                <img width="20" src="assets/auth/gift.png">
            </div>
            <div class="ion-margin-top">
                <ion-checkbox #checkbox></ion-checkbox>
                <ion-text class="checkbox-text ion-padding-start white_text">Have a promo code.?</ion-text>
            </div>
        </div>
        <div class="ion-margin-top ion-text-center custom-button">
            <ion-button *ngIf="checkbox && checkbox.checked" class="ion-margin-top" [routerLink]="'/payment/add-money'">
                Apply Promo
                <ion-icon class="ion-margin-start" name="arrow-forward-outline"></ion-icon>
            </ion-button>
            <ion-button *ngIf="checkbox && !checkbox.checked" class="ion-margin-top" [routerLink]="'/payment/add-money'">
                Continue
                <ion-icon class="ion-margin-start" name="arrow-forward-outline"></ion-icon>
            </ion-button>
        </div>
    </div>
</ion-content>
