<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary" defaultHref="home/wallet"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="header-card">
        <ion-grid class="ion-padding ion-no-margin">
            <ion-row>
                <ion-col size="12" class="vertical-align ion-text-center">
                    <ion-text class="ion-text-uppercase ion-padding-start">
                        <strong>KYC</strong>
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <br><br><br>
    <div class="content">
        <ion-grid>
            <ion-row>
                <ion-col [size]="'6'" [offset]="3">
                    <img src="assets/wallet/kyc.svg" alt="">

                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col [size]="'10'" [offset]="1" class="ion-text-center">
                    <ion-text class="title">Important Notice</ion-text>
                    <br><br><br>
                    <ion-text class="title">Any 1 Valid ID Proof (Aadhar / Voter ID/ Passport/ DL / PAN)</ion-text>
                    <br><br><br>
                    <ion-text class="sub-title">
                        is required to withdraw from this app <br>
                        on submission, it may take 24 hrs <br>
                        for us to complete document verification
                    </ion-text>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="custom-button ion-text-center">
                    <br><br><br>
                    <input #file [hidden]="true" type="file" (change)="uploadFile($event)">
                    <ion-button [shape]="'round'" (click)="file.click()">
                        Upload
                        <ion-icon [name]="'arrow-up'"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
