<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="primary"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="header-card">
        <div class="ion-padding ion-text-center">
            <ion-text class="ion-text-uppercase ion-padding-start">
                <strong>Settings</strong>
            </ion-text>
        </div>
    </div>

    <div class="content ion-padding">
        <div class="profile_div">
            <ion-grid class="ion-padding">
                <ion-row>
                    <ion-col size="4" class="ion-no-padding">
                        <img width="100" src="assets/settings/user.svg" alt="">
                    </ion-col>
                    <ion-col size="8">
                        <ion-text class="title white_text">John Doe</ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="item_div">
            <ion-item-group>
                <ion-item-divider>
                    <ion-label class="title">Account Settings</ion-label>
                </ion-item-divider>

                <ion-item>
                    <ion-label>Personal Information</ion-label>
                    <ion-icon name="person-outline" slot="end"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>Choose Language</ion-label>
                    <ion-icon name="language-outline"  slot="end"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>My Contest</ion-label>
                    <ion-icon name="card-outline"  slot="end"></ion-icon>
                </ion-item>
            </ion-item-group>

            <ion-item-group class="ion-margin-top">
                <ion-item-divider>
                    <ion-label class="title">Others</ion-label>
                </ion-item-divider>

                <ion-item [routerLink]="'/refer-and-earn'">
                    <ion-label>Refer & Earn</ion-label>
                    <ion-icon name="gift-outline"  slot="end"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>Contact Us</ion-label>
                    <ion-icon name="call-outline"  slot="end"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>Terms And Conditions</ion-label>
                    <ion-icon name="newspaper-outline"  slot="end"></ion-icon>
                </ion-item>
                <ion-item (click)="logout()">
                    <ion-label>Logout</ion-label>
                    <ion-icon name="log-out-outline"  slot="end"></ion-icon>
                </ion-item>
            </ion-item-group>
        </div>
    </div>
</ion-content>
