ion-header {
  ion-toolbar {
    --background: transparent;
    position: absolute;
  }
}
ion-content {
  --background: url('../../../assets/new_assets/bg_opponent.svg') 50%;
  .header-card {
    height: 18%;
    background: var(--ion-dark-background-color);
    color: var(--ion-color-light);
    .back-button {
      font-size: 1.5em;
    }
    .vertical-align {
      flex-direction: column;
    }
    .title {
      font-size: 1.2em;
      font-weight: bolder;
    }
  }
  .content {
    height: 95%;
    border-top-left-radius: 15%;
    background: url('../../../assets/new_assets/bg_opponent.svg') 50%;
    .title {
      font-size: 1.2em;
      font-weight: bolder;
    }
    .available, .balance {
      font-size: 1.3em;
      color: #292929;
      font-weight: bolder;
    }

    .balance {
      font-size: 2em;
      border-bottom: 3px solid var(--ion-color-primary);
      input {
        width: 40%;
        background: transparent;
        outline: none;
        border: none;
        text-align: center;
        color: var(--ion-color-primary);
      }
    }

    .checkbox-text {
      position: relative;
      top: -6px;
    }

    .mobile-input {
      input {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        outline: none;
        padding: 8px 16px;
        font-size: 0.8em;
        border: none;
        box-shadow: 5px 6px 4px -2px #d2d2d2;
      }
      img {
        position: absolute;
        font-size: 1.3em;
        right: 50px;
        padding-top: 12px;
      }
    }

    .select-amount {
      position: relative;
      top: -45px;
    }

    ion-card {
      --background: var(--ion-color-light);
      border-radius: 12px;
      box-shadow: 4px 8px 10px -3px #ddd;
      .sub-title {
        font-size: 1.0em;
        font-weight: bolder;
      }
    }
  }

  .profile_div {
    position: relative;
    top: -77px;
  }
  .item_div {
    margin-top: -5rem;
    ion-item-divider {
      background: transparent;
      color: var(--ion-color-primary);
      font-weight: 500;
    }
    ion-item {
      --background: transparent;
      ion-label {
        color: white;
      }
      ion-icon {
        color: var(--ion-color-primary);
      }
    }
  }
}



