ion-header {
  ion-toolbar {
    position: absolute;
  --background: transparent;
  }
}

.game-card {
  background-image: url("../../../../assets/dashboard/banner_1.png");
  ion-grid {
    background: rgba(255, 255, 255, 0.9);
    .back-button {
      font-size: 1.5em;
    }
    .vertical-align {
      flex-direction: column;
    }
    .game-title {
      font-size: 1.1em;
      font-weight: bolder;
    }
    .game-sub-title {
      font-size: 1.0em;
      font-weight: bolder;
    }
    .game-desc {
      font-weight: 400;
    }
  }
}
.content {
  position: relative;
  top: -25px;
  border-top-left-radius: 25px;


  .contest-text {
    font-weight: 500;
  }

  ion-card {
    background-color: var(--ion-dark-background-color);
    ion-card-header {
      border-bottom: 1px solid #ddd;
      background-color: var(--ion-color-light);
    }

    border-radius: 12px;
    box-shadow: none;
  }

  .available {
    font-size: 1.3em;
    color: #292929;
    font-weight: 800;
  }

  .title {
    font-size: 1.1em;
    font-weight: bolder;
  }
  .sub-title {
    font-size: 1.0em;
    font-weight: bolder;
  }

  .paid-games {
    ion-row {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      .win-amount {
        flex-direction: column;
        background: rgba(118, 108, 101, 1);
        border-radius: 12px;
        height: 10vh;
        .amount {
          font-weight: bold;
        }
      }
    }
  }
}
ion-button {
  width: 100%;
}

.position_card {
  background-color: transparent !important;
  box-shadow: none !important;
  position: absolute;
  top: 30px;
  z-index: 99;
  right: 38vw;
  img {
    width: 68px;
  }
}
.main_card {
  padding-top: 20px;
  min-height: 11vh;
}
