<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-title>Tab 1</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-button (click)="showActions()">Click Me</ion-button>
    <ion-button (click)="changeStatusBar()">Change Status Bar</ion-button>
    <ion-button (click)="showStatusBar()">Show Status Bar</ion-button>
    <ion-button (click)="hideStatusBar()">Hide Status Bar</ion-button>
    <ion-button (click)="share()">Share</ion-button>
    <ion-button (click)="setToken()">Set Token</ion-button>
    <ion-button (click)="removeToken()">Remove Token</ion-button>
    <ion-button [routerLink]="'/page-one'">Page One</ion-button>
    <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
