<ion-header>
    <ion-toolbar class="black_theme_bg">
        <ion-buttons slot="start">
            <ion-menu-button color="primary"></ion-menu-button>
        </ion-buttons>
        <ion-buttons>
            <img width="45" style="margin: auto" src="assets/icon/logo.svg" alt="">
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon style="font-size: xx-large" color="primary" name="notifications"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="black_theme_bg">
    <div class="home-slider">
        <ion-slides pager="true" [options]="slideOpts" class="sliders full-height">
            <ion-slide>
                <img src="assets/dashboard/banner_1.png">
            </ion-slide>
            <ion-slide>
                <img src="assets/dashboard/banner_1.png">
            </ion-slide>
            <ion-slide>
                <img src="assets/dashboard/banner_1.png">
            </ion-slide>
        </ion-slides>
    </div>

    <section class="how_to_play ion-margin-top ion-padding-horizontal">
        <ion-card>
            <ion-card-header class="ion-text-center">
                <ion-card-title class="white_text">How To Play this Game</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
                <ol>
                    <li>
                        Lorem ipsum, or lipsum as it is sometimes known,
                    </li>
                    <li>
                        Lorem ipsum, or lipsum as it is sometimes known,
                    </li>
                    <li>
                        Lorem ipsum, or lipsum as it is sometimes known,
                        is dummy text used in laying out print, graphic or web designs
                    </li>
                </ol>
            </ion-card-content>
        </ion-card>
    </section>
    <div class="game-card">
        <div>
            <ion-grid>
                <ion-row>
                    <ion-col size="12" class="vertical-align ion-text-center ion-padding-top">
                        <ion-title class="game-title white_text ion-text-uppercase">Injustice 2</ion-title>
                    </ion-col>
                    <ion-col size="12" class="vertical-align ion-text-center">
                        <ion-text class="game-desc primary_color_text">Play the game & earn money</ion-text>
                    </ion-col>
                    <ion-col class="vertical-align" offset="4" size="4">
                        <img src="assets/dashboard/game_icon.svg" alt="">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-margin-top ion-padding-horizontal">
                    <ion-col size="12" class="vertical-align ion-text-center">
                            <ion-title class="game-title white_text ion-text-uppercase">Game Introduction</ion-title>
                    </ion-col>
                    <ion-col size="12" class="vertical-align">
                        <ion-text class="game-desc white_text ion-text-justify">Lorem ipsum, or lipsum as it is sometimes known,
                            is dummy text used in laying out print, graphic or web designs.
                            The passage is attributed to an unknown typesetter in the 15th century who is thought to
                            have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-margin-top">
                    <ion-col size="12">
                            <ion-button tappable shape="round" [routerLink]="'/game'" [expand]="'block'" [color]="'primary'">Play Now</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>

</ion-content>
