.home-slider {
  ion-slide {
    border-radius: 25px;

    img {
      width: 85%;
      border-radius: 25px;
    }
  }
}

.game-card {
  .game-title {
    font-size: 1.1em;
    font-weight: bolder;
    padding: 8px 0;
  }
  .game-desc {
    font-weight: 400;
  }
}

.how_to_play {
  ion-card {
    border-radius: 1rem;
    background: rgba(var(--ion-color-light-rgb), 0.2);
    box-shadow: none;
    ion-card-header {
      background: transparent;
    }
    ion-card-content {
      background: transparent;
      li {
        color: var(--ion-color-primary);
      }
    }
  }
}
